# Logs
typescript/logs
typescript/*.log
typescript/npm-debug.log*
typescript/yarn-debug.log*
typescript/yarn-error.log*
typescript/pnpm-debug.log*
typescript/lerna-debug.log*

typescript/node_modules
typescript/dist
typescript/dist-ssr
typescript/*.local

typescript/# Editor directories and files
typescript/.vscode/*
typescript/!.vscode/extensions.json
typescript/.idea
typescript/.DS_Store
typescript/*.suo
typescript/*.ntvs*
typescript/*.njsproj
typescript/*.sln
typescript/*.sw?
